<footer class="bs-footer" role="contentinfo">

  <div id="footer-container">
    <div id="footer-inner">

      <div id="copyright">
        <p>&copy; Copyright 2013 - Alessandro Canal</p>
      </div>

      <div id="social">
        <ul>
          <li id="social-twitter"><a href="https://twitter.com/superale76">Twitter</a></li>
          <li id="social-pinterest"><a href="http://www.pinterest.com/superale76/">Pinterest</a></li>
          <li id="social-flickr"><a href="http://www.flickr.com/photos/superale76/">Flickr</a></li>
          <li id="social-linkedin"><a href="http://it.linkedin.com/pub/alessandro-canal/2/163/284/">Flickr</a></li>
          <li id="social-blogger"><a href="http://channel76.blogspot.it">Flickr</a></li>
        </ul>
      </div>

    </div><!-- end inner -->
  </div><!-- end container -->
</footer>


