<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Roogby</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/scrum.jpg" style="height: 600px; width: 100%; display: block;" />
    </div>
    <div class="container">
        <div class="carousel-caption">
            <h1>Roogby, googling rugby</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <%= form_tag "", :method => :get, :class => '', :id => 'home-search-form', :role => 'form' do %>
              <div class="row">
                <div class="col-md-6"><input type="text" class="form-control typeahead roogby-finder" id="form-wide-name" placeholder="Players, Teams, Competition ..." name="search_text"></div>
                <div class="col-md-4"><%= select_tag "season", options_from_collection_for_select(@seasons , "id", "season"), :class=>"form-control" %></div>
                <div class="col-md-2"><input type="hidden" id="page_kind" /></div>
              <button type="button" class="btn btn-default" id="home-search-button">Search</button>
              </div>
            <% end %>
        </div>
    </div>
  </div>

</div>
<div class="container">
  <div clas="row">
    <div class="col-lg-4">
      <h2>Teams' ranking</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-4">
      <h2>Players</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
  </div>
</div>

<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $('#form-wide-name').typeahead([{
                name: 'players',
                valueKey: 'name',
                prefetch: {
                    url: '/api/players_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Players</p>',
                template: '<p><strong>{{name}}</strong>, <em>{{name2}}</em>&nbsp;({{team}})</p>',
                engine: Hogan

            },
            {   name: 'teams',
                valueKey: 'name',
                prefetch: {
                    url: '/api/teams_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Teams</p>',
                template: '<p><strong>{{name}}</strong></p>',
                engine: Hogan

            },
            {   name: 'competitions',
                valueKey: 'name',
                prefetch: {
                    url: '/api/competitions_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Competitions</p>',
                template: '<p><strong>{{name}}</strong></p>',
                engine: Hogan

            }


        ]).on('typeahead:selected', function($e, datum) {
                    $('input.search_type').val(datum.page_type);
                });
        $('#home-search-button').click( function() {
            $('#home-search-form').submit();
        });
    });
</script>